<div class="left home">
  <h1>Hello!</h1>
  <span class="pic">&lt; TODO: Insert professional photo of myself here &gt;</span>
  <p>My name is Anthony Calandra and I'm studying computer science (co-op) at the University of Waterloo. I've never been good at introductions, so here's a quick rundown of my interests:</p>
</div>
