<div class="left home">
  <h1 class="no-underline">Hello!</h1>
  <p>My name is Anthony Calandra and I'm a second-year student studying computer science (co-op) at the University of Waterloo.</p>
  <p>I am passionate about open-source and the open-source community is where you can find most of my written software.</p>
  <p>My focus is the web mainly as a back-end web developer but I also enjoy doing front-end work such as simple designs and dynamic HTML.</p>
  <p>I also have strong interests in operating systems and embedded systems which I hope to expand on in the future.</p>
</div>
