<div class="wrapper">
    <div class="content">
        <h1 class="welcome">JavaScript</h1>
        <br />
        <h1 class="welcome">PHP</h1>
        <ul class="post_list">
            <li><a href="/posts/php-secure-apps">How to Secure Web Applications</a></li>
            <li><a href="/posts/php-arrays">PHP Native Array vs. SPL SplFixedArray vs. 'SPL Arraylist'</a></li>
            <li><a href="/posts/php-zend-arrays-hashtables">PHP &amp; The Zend Engine &mdash; PHP Arrays/HashTables</a></li>
            <li><a href="/posts/php-zend-types">PHP &amp; The Zend Engine &mdash; PHP Types</a></li>
            <li><a href="/posts/php-zend-reference">PHP &amp; The Zend Engine &mdash; Reference</a></li>
        </ul>
        <br />
        <h1 class="welcome">Security</h1>
        <ul class="post_list">
            <li><a href="/posts/alternatives-storing-passwords">Better Alternatives to Storing Passwords</a></li>
            <li><a href="/posts/lookup-rainbow-tables">How Lookup and Rainbow Tables work</a></li>
        </ul>
        <br />
        <h1 class="welcome">Misc</h1>
        <br />
    </div>
</div>
