[Unit]
Description=Node blog service
After=network.target mongod.service

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=NODE_VERSION=14
ExecStart=/root/.nvm/nvm-exec npm run --prefix /var/www/node/node-blog systemd-start

[Install]
WantedBy=multi-user.target
