<!doctype html>
<html>
<head>
    <title>Welcome to Dexter's Lab!</title>
    <style>
        body {
            font-family: Arial;
        }

        header {
            margin: 0px;
            padding-left: 5px;
            background-color: red;
            color: white;
            border: 1px solid black;
        }

        #details {
            border: 1px solid black;
            padding: 5px;
        }

        #details p {
            float: left;
            width: 75%;
        }

        #details img {
            float: right;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to Dexter's Lab!</h1>
    </header>
    <br />
    <div id="details">
        <p>Welcome to Dexter's Laboratory!<br />This is a place where I try out a variety of scripts
and give you a testing ground for any scripts I have released or am working on.</p>
        <img src="http://4.bp.blogspot.com/_EpFocbXvaHU/S08Y2WNd6eI/AAAAAAAADDs/fUGz9l7iCxY/s400/dexter1.jpg" alt="" />
        <br style="clear: both;" />
    </div>
</body>
</html>
