@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0 auto;
    padding: 15px 0 15px 0;
    min-height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-top: 1px solid #d0d0d0;
  }

  ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  ul.menu li a span.label {
    display: none;
  }

  ul.menu li {
    display: inline-block;
    padding: 10px;
  }

  article code {
    font-size: 10pt;
  }
}

@media all and (min-width: 600px) {
  .wrapper {
    margin: 0 auto;
    padding: 15px;
    min-height: 100%;
    width: 70%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
  }

  ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul.menu li a span.label {
    font-size: 14pt;
  }

  ul.menu li {
    display: inline;
    padding: 15px;
    width: auto;
  }
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Merriweather', 'Open Sans', sans-serif;
    color: #565668;
    height: 100%;
}

header {
  background: #202122;
  height: 75px;
  width: 100%;
  box-shadow:0 0 15px rgba(0,0,0,0.3);
  border-bottom: 3px solid #3d84fe;
}

.clear {
    clear: both;
}

.center-text {
    text-align: center;
}

/* Home styling START. */

#home-panel {
  text-align: center;
  min-height: 100%;
}

#home-panel main {
  padding-top: 15%;
}

#home-panel h1 {
  font-size: 50pt;
  color: black;
  font-weight: 400;
}

#home-panel nav ul {
  list-style: outside none none;
}

#home-panel nav ul li {
  display: inline-block;
  padding: 10px;
}

#home-panel ul li a {
  text-align: center;
  margin: auto;
}

#home-panel nav ul {
  font-size: 13px;
  line-height: 20px;
  padding: 5px 5px 5px 25px;
}

#nav-label {
  font-weight: bold;
  padding-right: 15px;
  opacity: 0;
  transition: opacity 1s;
}

/* Home styling END. */
/* Footer styling START. */

footer {
  clear: both;
  background: #202122;
  height: 75px;
  border-top: 3px solid #3d84fe;
  box-shadow:0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  color: #fff;
}

footer span {
  position: relative;
  top: 40%;
}

.branding {
    height: 75px;
    width: 100%;
    text-align: left;
    line-height: 75px;
    margin: 0 auto auto auto;
    text-align: center;
}

a.brand {
    color: #fff;
    text-decoration: none;
}

/* Footer styling END. */

main {
  padding: 15px 10px 15px 10px;
}

article h1 {
    font-size: 36px;
    margin: 0;
    color: #000;
}

article ul, article ol {
  font-size: 18px;
  padding: 0 25px 10px 25px;
  line-height: 1.5;
}

p {
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
}

ul.post_list {
    list-style-type: none;
}

ul.post_list li {
    padding-top: 5px;
}

ul.post_list li a {
    font-size: 16px;
    color: #444444;
    text-decoration: none;
}

ul.menu li a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 1s;
}

ul.menu li a:hover {
    color: #3d84fe;
}

ul.menu li a span {
  vertical-align: middle;
}

span.navi-icon {
    color: #3d84fe;
    margin-right: 20px;
}

span.silenced {
    color: #777;
    font-size: 12px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #3d84fe;
    margin: 0;
    padding: 0;
}
